<html>

<head>

      <title>Register</title>
      <link rel="stylesheet" type="text/css" href="/css/login.css">
      <link rel="stylesheet" href="/css/fontawesome.min.css">

</head>

<body>

      <div class="loginBox">
            <div class="flash-error">
                  <% if (errors !=="" ){%>
                        <% errors.forEach((item)=>{%>
                              <div class="alert-danger">
                                    <%- item %>
                              </div>
                              <%})%>
                                    <%}%>
            </div>
            <br> <br>
            <h1 id="ti">Welcome to Asia Mehr Hospital</h1>
            <h1>Register Form</h1>

            <form method="POST" action="/api/createUser">
                  <p>First name</p>
                  <input type="text" name="firstName" required placeholder="&#xf4fc Enter Your name "
                        style="font-family: 'Font Awesome 5 free'; font-weight: 700;" value="<%= form.firstName%>">
                  <p>Last name</p>
                  <input type="text" name="lastName" required placeholder="&#xf4ff Enter last name "
                        style="font-family: 'Font Awesome 5 free'; font-weight: 700;" value="<%= form.lastName%>">
                  <p>Address</p>
                  <input type="text" name="address" required placeholder="&#xf4ff Enter last name "
                        style="font-family: 'Font Awesome 5 free'; font-weight: 700;" value="<%= form.lastName%>">
                  <p class="em">Email<span style="color: red;">*</span></p>
                  <input type="email" name="email" class="em" placeholder="&#xf0e0 Enter Your email "
                        style="font-family: 'Font Awesome 5 free'; font-weight: 700;" value="<%= form.email%>">
                  <p>Password <span style="color: red;">*</span></p>
                  <input type="password" name="password" placeholder="&#xf084 Enter password "
                        style="font-family: 'Font Awesome 5 free'; font-weight: 700;">


                  <input type="submit" name="sub" value="Save">



            </form>
      </div>
</body>

</html>